@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Tagesschrift&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Tagesschrift&display=swap');

:root {
  --font-titulo: "Barlow";
  --font-cori: "Bebas Neue";
  --font-corpo: "Tagesschrift"
}

* {
  margin: 0;
  padding: 0;
  /* evita que padding/borda aumentem o tamanho real da caixa. */
  box-sizing: border-box;
}

.header {
  background-color: #00000092;
  width: 100%;
  height: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: fixed;
  border-bottom: 0.5px solid white;
}

.botaoSelect {
  background-color: black !important;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid white;
}

.header .logo-container .logo-header {
  width: 85px;
  height: 80px;
}

.header .links-container {
  width: 20%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background: none;
}

.header .links-container .texto-header {
  text-decoration: none;
  color: #ffffff;
  background: none;
  font-size: 24px;
  font-family: var(--font-cori);
}



/* -----------BANNER------------ */
.banner {
  height: 700px;
  width: 100%;
  background-image: url(/assets/torcida.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.banner .banner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background: none;

}

.banner .banner-container h2.texto-banner {
  color: white;
  background: none;
  font-size: 56px;
  font-weight: 800;
  font-family: var(--font-titulo);
}

.banner .banner-container h3.texto-banner {
  color: white;
  background: none;
  font-size: 30px;
  font-weight: 200;
  font-family: var(--font-corpo);
}

/* ------------------sobre-mim----------------- */
.sobre-mim {
  background-color: #ffffff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
}

.sobre-mim .titulo {
  color: #000000;
  background: none;
  font-family: var(--font-titulo);
  gap: 30px;
}

.sobre-mim .container {
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 80%;
  padding: 10px;
  border-radius: 30px;
  padding: 20px;
}

.sobre-mim .container .linha1 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
}

.sobre-mim .container .linha2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;

}

.sobre-mim .container .linha3 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;

}

.sobre-mim .container .card-vazio {
  width: 48%;
  height: 100px;
}

.sobre-mim .container .card {
  background-color: #ffffff;
  width: 48%;
  height: auto;
  border: 2px solid #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.sobre-mim .container .card:hover {
  transform: scale(1.05);
}

.sobre-mim .container .card .titulo {
  font-family: var(--font-titulo);
  background: none;
  color: #C10000;
  font-size: 30px;
}

.sobre-mim .container .card .subtitulo {
  font-family: var(--font-corpo);
  background: none;
}

/* -------------MANDAMENTOS---------------------------- */
.mandamentos {
  width: 100%;
  min-height: auto;
  background-image: url('../assets/brasoesempe.jpg'), url('../assets/brasoesempe.jpg');
  background-repeat: no-repeat, no-repeat;
  background-position: right center, left center;
  background-size: 400px;
  background-attachment: fixed;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px 20px;
  box-sizing: border-box;
  color: white;
  font-family: var(--font-cori);
  
}

.lista {
  font-size: 24px;
  max-width: 600px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.lista .titulo {
  font-size: 72px;
  /* font-family: var(--font-titulo); */
}

.item{
  font-size: 35px !important;
}

strong{
  font-family:none;
  font-size: 72px;
}
/* login ------------------------*/


.login {
  height: 100vh;
  background-image: url('../assets/brasoespreto.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95%;
  width: 100%;
  margin-top: 100px;
}

#jogadorfavorito{
  margin-left: 12px;
  width: 200px;
  font-size: 14px;
  font-family: var(--font-corpo);
  height: 20px;
  text-align: center;
  background-color: transparent;
  color: white;
  border-radius: 8px;
}

select option {
  background-color: black;
  color: white;
  font-family: var(--font-corpo);
}
/* Cor das opções */

.login .container .card {
  width: 50%;
  height: 550px;
  background-image: url("../assets/saojorge.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  flex-direction: column;
  padding: 20px 0;
  border: 2px solid white;
}

.login .container .card h2 {
  font-family: var(--font-corpo);
  background: transparent;
  font-size: 40px;
  align-self: center;
  margin-bottom: 40px;
}

.formulario {
  display: flex;
  height: 90%;
  width: 100%;
  justify-content: space-around;
  flex-direction: column;
  background: transparent;
  
}

.formulario .campo {
  display: flex;
  align-items: center;
  background: transparent;
  flex-direction: column;

}

.formulario .campo input {
  border-radius: 12px;
  padding: 8px;
  color: white;
  height: 40px  ;
  font-size: 22px;
  width: 60%;
}

.formulario span {
  font-size: 25px;
  font-weight: 400;
  font-family: var(--font-corpo);
  background: transparent;
}

.formulario input {
  background: transparent;
  font-family: var(--font-cori);
  height: 35px;
  width: 50%;
  color: white;
  border: 2px solid white;
}

.formulario .botao {
  background-color: wheat;
  font-family: var(--font-corpo);
  background-color: #c98c21;
  height: 35px;
  border-radius: 40px;
  width: 60%;
  align-self: center;
  font-size: 24px;
  border: 0.2px solid white;
  margin-top: 30px;
}


/* ----tratamentos */
.alerta_erro {
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #ED145B 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro {
  font-weight: 500;
  font-size: 20px;
}

#div_erros_login {
  display: none
}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

.alerta_erro {
    position: fixed;
    top: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 9999;
}

.card_erro {
    display: none; 
    background-color: #ff4d4d;
    color: white;
    padding: 15px 25px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    font-size: 16px;
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
